#map_canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
}

form.form-inline {
    margin-top: 30px;
}

form.form-inline .form-group {
    margin-bottom: 15px;
}

form.form-inline button {
    margin-top: -15px;
}

.width-fix-70 {
    width: 70px !important;
}